# Binaries
/shared/jsontool
/shared/jsonquery

# Generated sources
/shared/jsonparser.tab.h
/shared/jsonparser.tab.c
/shared/jsonparser.yy.c
/shared/jsonpath.tab.h
/shared/jsonpath.tab.c
/shared/jsonpath.yy.c

/pgplugin/pgjson.sql

# autoheader
/shared/include/stamp-h1
/shared/include/pgjson_config.h
/shared/include/pgjson_config.h.in

# All generated makefiles
/Makefile.in
/Makefile
/shared/Makefile.in
/shared/Makefile
/pgplugin/Makefile.in
/pgplugin/Makefile

# Autoconf noise
/aclocal.m4
/depcomp
/config.sub
/config.status
/missing
/ltmain.sh
/libtool
/install-sh
/configure
/config.guess
/autom4te.cache
/config.log
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/libtool.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
.deps
.libs

# Unversioned binaries
*.la
*.lo
*.so
*.dylib
*.o
